.list{
  position: relative;
  margin-top: 254px;
  margin-left: 100px;
  list-style-type: none;
}

.friend{
  position: relative;
  margin-top: 56px;
}

.gifts{
  position: relative;
  margin-top: 56px;
}
.settings{
  position: relative;
  margin-top: 56px;
}

//.сontainer{
//  height: 1280px;
//}