.section {
  background-color: #fff;
  padding: 32px 24px;
  width: 845px;
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 35px;
}
.section-header {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  grid-gap: 20px;
  margin-bottom: 30px;
}

.section-items__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 15px;
}

@media (min-width: 651px) and (max-width: 850px) {
  .section {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .section {
    width: 100%;
  }
  .title-item_actions {
    display: none;
  }
  .section-header {
    display: block;
  }
}
