@import '@/styles/mixins.scss';
@import '@/styles/variables.scss';

.sellerButton {
  align-items: center;
  background-color: $accent-violet;
  border: 0;
  border-radius: 25% / 75%;
  box-sizing: border-box;
  color: $white;
  cursor: pointer;
  display: inline-flex;
  font-family: $main-font;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  line-height: 20px;
  max-width: 960px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 3%;
  padding-right: 3%;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.sellerButton:hover,
.sellerButton:focus { 
  background-color: #D03EDB;
  color: $white;
}

.sellerButton:active {
  background: $accent-violet;
  color: rgb(255, 255, 255, .7);
}

.sellerButton:disabled { 
  cursor: not-allowed;
  background: rgba(100, 0, 100, .08);
  color: rgba(255, 255, 255, .3);
}
