.cards-shops__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 184px);
  grid-gap: 22px;
}
.cards-shops__item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8edff;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.cards-shops__item:hover {
  transform: scale(1.01);
}
.cards-shops__image {
  object-fit: contain;
}

.cards-shops__text {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
}

.shop-name {
  font-size: 12px;
  font-weight: 500;
}

@media (min-width: 427px) and (max-width: 767px) {
  .cards-shops__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 184px);
    grid-gap: 22px;
  }
}

@media (max-width: 426px) {
  .cards-shops__list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 184px);
    grid-gap: 15px;
  }
}
