@import '@/styles/mixins.scss';
@import '@/styles/variables.scss';

.background {
  z-index: -1;
  max-width: 100%;
  height: auto;
}

.greetings {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em 1em;
  z-index: 10;
  max-width: fit-content;
  margin: auto;
  overflow: auto;
}

.text {
  padding: 2em;
}

.heading {
  align-self: center;
  color: $white;
  text-align: center;
  padding: 1em 2em;
  font-family: $first-montserrat;
  font-size: 84px;
  font-weight: 700;
  text-shadow: 3px 2px 0 $shadow;
}

.subheading {
  padding: 5% 10%;
  display: flex;
  text-shadow: 2px 1px 0 $shadow;
  justify-content: center;
  font-family: $first-montserrat;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}
