@import '@/styles/mixins.scss';
@import '@/styles/variables.scss';

.parent {
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: nowrap;
	background-color: $pastel-indigo;
	padding: 35px 0;
}

.child {
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: nowrap;
}

.section {
	background-color: $pastel-indigo;
	padding: 25px 20px;
	color: $dark-grey;
	font-family: $first-montserrat;
	font-size: 20pt;
	font-weight: 600;
}

.section:hover, 
.section:active {
	background-color: $white;
}
