@import '@/styles/mixins.scss';
@import '@/styles/variables.scss';

.sidebarContainer {
	height: 100vh;
	padding-top: 1rem;
	padding-bottom: 2rem;
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: $pastel-indigo;
}

.parent {
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: nowrap;
	padding: 35px 0;
}

.child {
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: nowrap;
}

.section {
	background-color: $pastel-indigo;
	padding: 25px 20px;
	color: $dark-grey;
	font-family: $first-montserrat;
	font-size: 20pt;
	font-weight: 600;
}

.section:hover, 
.section:active {
	background-color: $white;
}

.exitParent {
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-end;
	flex-wrap: nowrap;
	padding: 35px 0;
	flex-grow: 1;
}

.exitSection {
	background-color: $pastel-indigo;
	padding: 25px 20px;
	color:$soft-red;
	font-family: $first-montserrat;
	font-size: 20pt;
	font-weight: 600;
}

.exitSection:hover, 
.exitSection:active {
	background-color: $white;
}
